<div>
  <h2 style="font-size: 50px"></h2>
  <form ng-submit="addGif()">
    <input type="text" class="field" placeholder="Search for a GIF" ng-model="userInput">  <!-- get value from form > ng-model bind the value of an input field to a variable -->
    <button type="submit" value="Submit">Search</button>
  </form>

  <img ng-src="{{ currentGif.data.image }}">

</div>

  <!-- <div>
    <form action="/gifs" method="POST">
      <input type="text" placeholder="Search for a GIF" name="query">
      <button type="submit">Submit</button>
    </form>
  </div> -->
